body {
    /* background-color: slategray; */
    background-color: white;
    color: slategray;
}

/* .flashes h6 {
    line-height: 2;
} */

.headline {
    font-size: 2em;
}

.reveal-card-text {
    color: black;
}

.headline-box {
    margin-top: 0em;
    padding-bottom: 0.5em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.headline-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    top: 0em;
    padding-top: 0em;
}

.card-image {
    margin-top: 5px;
}

.crypto-prices {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    line-height: 2.5rem;
}

.btn-small {
    float: right;
}

.upper {
    text-transform: uppercase;
}

.crypto-icon {
    vertical-align: text-bottom;
}

#right-align {
    float: right;
}