/*----------TYPOGRAPHY STYLING*/
body, input {
    background-color: white;
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
label {
    color:black;
}

h6 {
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}

.input-field label {
    font-weight: bold;
}

.flashes {
    font-weight: bolder;
    color: red;
}

.hero-text {
    font-weight: lighter;
}

.increase-line-height {
    line-height: 150%;
}

.update-warning {
    color: red;
    font-size: smaller;
    line-height: 150%;
}

.box-heading {
    font-size: larger;
    font-weight: bold;
    line-height: 150%;
}

/*----------HEADER*/
.container {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

/*----------CRYPTO INFO*/
.crypto-icon {
    vertical-align: middle;
    max-height: 16px;
    max-width: 16px;
}

.crypto-prices {
    font-weight: bold;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#positive-change {
    color: green;
}

#negative-change {
    color: red;
}

/*----------HEADERS*/
.header {
    padding: 1%;
    width: 100%;
    font-size: 1.5em;
}

.header > img {
    float: right;
    max-width: 30%;
    max-height: 5rem;
}

/*----------HEADLINES*/
.headline {
    font-size: 2em;
}

.headline-box {
    margin-top: 0em;
    padding-bottom: 0.5em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.headline-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    top: 0em;
    padding-top: 0em;
}

/*----------CARDS*/
.card-image {
    margin-top: 5px;
}

.card .card-title {
    font-weight: bold;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: rgb(218, 113, 197);
    font-weight: bolder;
}

.reveal-card-text {
    color: black;
}

/*----------IMAGES*/
img.responsive-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* credit: stackoverflow - floating image to right of div */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both
}

/*----------BUTTONS*/
button {
    font-family: 'Montserrat', sans-serif; 
}

.btn-small {
    float: right;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: bolder;
}

#edit-settings-buttons {
    padding-bottom: 1rem;
}

/*----------INPUT COMPONENTS*/
.input-field.inline input, .input-field.inline .select-dropdown {
    margin-bottom: 0rem;
    line-height: 1rem;
}

/*----------FOOTER*/
.social-links {
    font-weight: lighter;
}

.social-links i {
    font-size: x-large;
}

/*----------MEDIA QUERIES*/
@media screen and (max-width: 700px){
    .trade-screen-large {
        display: none;
    }
}

@media screen and (min-width: 701px){
    .trade-screen-small {
        display: none;
    }

    .crypto-icon {
        max-height: 32px;
        max-width: 32px;
    }

    .btn-small {
        height: 28px;
        line-height: 28px;
        font-size: 13px;
    }

    .header {
        font-size: 2em;
    }
}
