{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="card white">
                <div class="card-content">
                    <div class="clearfix header">
                        Latest Prices<img src="../static/images/crypto_coins_bw_min.png">
                    </div>
                    <hr>
                    <!--iterate through list of currencies listed in db to find price information in coin array-->
                    {% for currency in currencies %}
                        {% for coin in coins %}
                            {% if coin['symbol'] == currency.currency_symbol %}    
                                <div class="crypto-prices">
                                    {{ coin['name'] }} ({{ coin['symbol'] }})    
                                    <img class="crypto-icon" src="{{ currency.image_source_large }}" alt="Profile image for {{ currency.currency_name }}">
                                    <!--credit to kite.com for formatting tips - how to print float with 2 decimal places-->
                                    {{ "{:.2f}".format(coin['quote']['USD']['price']) }},
                                    <!-- green for positive changes and red for negative changes  -->
                                    {% if '-' not in "{:.2f}".format(coin['quote']['USD']['percent_change_24h']) %} <span id="positive-change">+{{ "{:.2f}".format(coin['quote']['USD']['percent_change_24h']) }}%</span> {% endif %}
                                    {% if '-' in "{:.2f}".format(coin['quote']['USD']['percent_change_24h']) %} <span id="negative-change">{{ "{:.2f}".format(coin['quote']['USD']['percent_change_24h']) }}%</span> {% endif %}
                                    last 24hrs
                                    <a href="{{ url_for('trade', ticker = currency.currency_symbol) }}" class="waves-effect waves-light btn-small pink lighten-2" id="right-align {{ coin['symbol'] }}">Trade</a><br>
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}