{% extends "base.html" %}
{% block content %}

    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('edit_settings') }}">
            <div class="card white">
                <div class="card-content">
                    <div class="clearfix header">
                        Edit Settings<img src="../static/images/crypto_coins_bw_min.png" alt="Silver cryptocoins">
                    </div><hr>
                    <h6 class="crypto-prices">
                        First name: 
                        <div class="input-field inline">
                            <input id="first_name" name="first_name" type="text" pattern="^[A-Za-z]{1,30}$"
                            class="validate" value="{{ user_settings.first_name }}" required>
                        </div>
                        <br>
                        Last name: 
                        <div class="input-field inline">
                            <input id="last_name" name="last_name" type="text" pattern="^[A-Za-z]{1,30}$"
                            class="validate" value="{{ user_settings.last_name }}" required>
                        </div>
                        <br>
                        <!-- Reset Porftfolio -->
                        <br>Reset Portfolio Balance?<br>
                        <br><div class="switch">
                            <label for="reset_account">
                                NO
                            <input id="reset_account" name="reset_account" type="checkbox">
                            <span class="lever"></span>
                                YES
                            </label>
                        </div><br>
                        <div class="update-warning">WARNING: Selecting 'Yes' will delete all trading history and reset account to 100,000 USD</div><br>
                        <div id="edit-settings-buttons">
                            <a href="{{ url_for('settings') }}" class="waves-effect waves-light btn-small blue darken-2 left">Cancel  <i class="fas fa-times"></i></a>
                            <button type="submit" class="waves-effect waves-light btn-small blue darken-2">
                                Save  <i class="fas fa-check"></i>
                            </button>
                        </div>
                    </h6>
                </div>
            </div>
        </form>
    </div>

{% endblock %}