{% extends "base.html" %}
{% block content %}

    <div class="row">
        <form class="col s6 m6 offset-m3" method="POST" action="{{ url_for('edit_settings') }}">
        <!-- <div class="col s6 m6 offset-m3"> -->
            <div class="card white">
                <div class="card-image">
                    <img src="../static/images/register.jpg">
                </div>
                <div class="card-content">
                    <h6 class="crypto-prices">
                        <!--first and last name-->
                        <div class="row">
                            <div class="input-field col s6">
                                First name: 
                                <input id="first_name" name="first_name" type="text" pattern="^[A-Za-z]{1,30}$"
                                    class="validate" required>
                                <label for="first_name">First Name</label>
                            </div>
                            <br>
                            <div class="input-field col s6">
                                Last name: 
                                <input id="last_name" name="last_name" type="text" pattern="^[A-Za-z]{1,30}$"
                                    class="validate" required>
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <!-- First name: {{ userSettings.first_name }}<br> -->
                        <!-- Last name: {{ userSettings.last_name }}<br> -->
                        Display currency:
                        <div>
                            <span>
                                <label>
                                    <input name="group1" type="radio" checked />
                                    <span>USD</span>
                                </label>
                            </span>
                            <span>
                                <label>
                                    <input name="group1" type="radio" />
                                    <span>GBP</span>
                                </label>
                            </span>
                        </div>
                        <!-- Reset Porftfolio -->
                        Reset Portfolio?
                        <div class="update-warning">WARNING: Selecting 'Yes' will delete all trading history and reset account to 100000 credits</div>
                        <div class="switch">
                            <label>
                            No
                            <input type="checkbox">
                            <span class="lever"></span>
                            Yes
                            </label>
                        </div>
                        <a href="{{ url_for('edit_settings') }}" class="waves-effect waves-light btn-small pink lighten-2">Save</a><br>
                    </h6>
                </div>
            </div>
        <!-- </div> -->
        </form>
    </div>

{% endblock %}