{% extends "base.html" %}
{% block content %}
    <div class="row">
        <!-- hero image and text -->
        <div class="col s12 m12">
            <div class="card-image hero-image">
                <img class="responsive-img" src="../static/images/crypto_wide_bw.jpg" alt="Silver cryptocoins">
            </div>
        </div>
        <div class="col s12 m12">
            <div class="card-image large white">
                <div class="card-content black-text headline-text">
                    <p class="headline-box hero-text">Trade Crypto,</p>
                    <p class="headline-box hero-text">Risk Free.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- why hashmoney image with reveal text and call to action -->
        <div class="col s12 m6">
            <div class="card sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/why_hashmoney.jpg" alt="Crytocurrency question marks">
                </div>
                <div class="card-action">
                    <span class="card-title activator grey-text text-darken-4 reveal-text-header">Why hashmoney?<i class="fas fa-ellipsis-v right"></i></span>
                    {% if current_user == "none" %} 
                        <br><hr><br><div class="row">
                            <a href="{{ url_for('register') }}" class="col s12 btn-large grey darken-3">REGISTER FOR FREE</a>
                        </div>
                    {% endif %}
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="fas fa-times right"></i></span>
                    <p class="grey-text text-darken-4 flow-text">Hashmoney is completely free to use. <a href="{{ url_for('register') }}">Register now</a> and you can be trading the most popular
                         cryptocurrencies totally risk-free in just a couple of minutes.
                    </p>
                </div>
            </div>
        </div>
        <!-- how hashmoney works image with reveal text -->
        <div class="col s12 m6">
            <div class="card sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/crypto_charts.jpg" alt="Crytpocurrency price charts">
                </div>
                <div class="card-action">
                    <span class="card-title activator grey-text text-darken-4 reveal-text-header">How does it work?<i class="fas fa-ellipsis-v right"></i></span>
                    {% if current_user == "none" %} 
                        <br><hr><br><div class="row">
                            <a href="{{ url_for('login') }}" class="col s12 btn-large blue darken-3">EXISTING USER LOGIN</a>
                        </div>
                    {% endif %}
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="fas fa-times right"></i></span>
                    <p class="grey-text text-darken-4 flow-text">When you sign up, Hashmoney allocates 100,000 USD to your account
                        which you can use to trade any of our supported cryptocurrencies. You can then keep track of your
                        portfolio and see how it develops over time.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}