{% extends "base.html" %}
{% block content %}

    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('login') }}">
            <div class="card white">
                <!-- <div class="card-image">
                    <img src="../static/images/register.jpg">
                </div> -->
                <div class="card-content">
                    <div class="clearfix header">
                        Sign-in<img src="../static/images/crypto_coins_bw_min.png">
                    </div>
                    <hr>
                    <!--email-->
                    <div class="row">
                        <div class="input-field col s12">
                          <input id="email" name="email" type="email" class="validate">
                          <label for="email">Email</label>
                        </div>
                      </div>
                    <!--password-->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" minlength="5"
                                maxlength="15" pattern="^[A-Za-z0-9]{5,15}$" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <!--login button-->
                    <div class="row">
                        <button type="submit" class="col s12 btn-large">
                            Sign In <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('register') }}">Register</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}