{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s6 m6 offset-m3">
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="../static/images/register.jpg">
                </div>
                <div class="card-content">
                    <h6 class="center-align">
                        {{ username }}'s Portfolio
                    </h6>
                    <p>Current balance: </p>
                    <p>{{ dict }}</p>
                    <p>{{ currencies }}</p>
                    <!-- iterate through the dictionary containing crypto balances and print to screen-->
                    {% for n in dict %}
                        {% for currency in currencies %}
                            <p>{{ n }}</p>
                            {% if n == currency.currency_symbol %}    
                                    <div class="crypto-prices">
                                        {{ currency.currency_name }}
                                        {{ currency.currency_symbol }}    
                                        <img src="{{ currency.image_source }}" alt="Profile image for {{ currency.currency_name }}">
                                        {{ n.value }}
                                        <hr>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}    

                    {% for currency in currencies %}
                        {% for balance in balances %}
                            {% for coin in coins %}
                                {% if coin['symbol'] == balance.upper() %}    
                                    <div class="crypto-prices">
                                        {{ value }}
                                        {{ coin['name'] }} {{ coin['symbol'] }}    
                                        <img src="{{ currency.image_source }}" alt="Profile image for {{ currency.currency_name }}">
                                        <!--credit to kite.com for formatting tips - how to print float with 2 decimal places-->
                                        {{ "{:.2f}".format(coin['quote']['USD']['price']) * balances[balance] }}
                                        <hr>
                                    </div>
                                {% elif balance.upper() == "USD" %}
                                    <div class="crypto-prices">
                                        {{ balances[balance] }}
                                        <hr>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}