{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card white">
                <div class="card-content">
                    <div class="clearfix header">
                        Portfolio<img src="../static/images/crypto_coins_bw_min.png">
                    </div>
                    <hr>
                    <h6 class="crypto-prices box-heading">
                        <!-- {{ username }}'s Portfolio <br> -->
                        Member since: {{ user.register_date }}<br>
                        Balance: {{ "{:.2f}".format(total_balance) }}<br>
                        Change: 
                        {% if '-' not in percentage_change|string %} <span id="positive-change">+{{ percentage_change }}%</span> {% endif %}
                        {% if '-' in percentage_change|string %} <span id="negative-change">{{ percentage_change }}%</span> {% endif %}
                        <hr>
                    </h6>
                    <!-- iterate through the dictionary containing crypto balances and print to screen-->
                    {% for currency in currencies %}
                        {% for item, value in dict.items() %}
                            {% if item == currency.currency_symbol %} 
                                <!-- display for medium screen sizes and above -->
                                <div class="crypto-prices trade-screen-large">
                                    <img class="crypto-icon" src="../static/images/crypto-icons/{{ currency.currency_symbol.lower() }}.png" alt="Profile image for {{ currency.currency_name }}">&nbsp
                                    <!-- <img class="crypto-icon" src="{{ currency.image_source_large }}" alt="Profile image for {{ currency.currency_name }}"> -->
                                    {{ currency.currency_name }}
                                    {{ value }} 
                                    {% for balance in balances %}
                                        {% if balance.upper() == currency.currency_symbol %}
                                            ({{ "{:.2f}".format(balances[balance]) }}
                                            {{ currency.currency_symbol }})
                                        {% endif %}
                                    {% endfor %}
                                    <a href="{{ url_for('trade', ticker = currency.currency_symbol) }}" class="waves-effect waves-light btn-small blue darken-2" id="right-align" {{ currency.currency_symbol }}">Trade</a><br>
                                    <hr>
                                </div>
                                <!-- display for mobile screen sizes -->
                                <div class="crypto-prices trade-screen-small">
                                    <img class="crypto-icon" src="../static/images/crypto-icons/{{ currency.currency_symbol.lower() }}.png" alt="Profile image for {{ currency.currency_name }}">&nbsp
                                    {{ currency.currency_symbol }}
                                    {{ value }} 
                                    <a href="{{ url_for('trade', ticker = currency.currency_symbol) }}" class="waves-effect waves-light btn-small blue darken-2" id="right-align" {{ currency.currency_symbol }}">Trade</a><br>
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}    

                </div>
            </div>
        </div>
    </div>

{% endblock %}