{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s6 m6 offset-m3">
            <div class="card grey darken-3">
                <div class="card-image">
                    <img src="../static/images/register.jpg">
                </div>
                <div class="card-content">
                    <h6 class="crypto-prices">
                        {{ username }}'s Portfolio <br>
                        Member since: <br>
                        Current balance: {{ totalBalance }} <br>
                        Change: {{ percentageChange }}%
                    </h6>
                    <!-- iterate through the dictionary containing crypto balances and print to screen-->
                    {% for currency in currencies %}
                        {% for item, value in dict.items() %}
                            {% if item == currency.currency_symbol %} 
                                <div class="crypto-prices">
                                    {{ currency.currency_name }}
                                    {{ currency.currency_symbol }}    
                                    <img src="{{ currency.image_source }}" alt="Profile image for {{ currency.currency_name }}">
                                        {{ value }}
                                        <a href="{{ url_for('trade', ticker = currency.currency_symbol) }}" class="waves-effect waves-light btn-small" id="right-align {{ currency.currency_symbol }}">Trade</a><br>
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}    

                </div>
            </div>
        </div>
    </div>

{% endblock %}