{% extends "base.html" %}
{% block content %}

    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
            <div class="card white">
                <div class="card-content">
                    <div class="clearfix header">
                        Register<img src="../static/images/crypto_coins_bw_min.png">
                    </div>
                    <hr>
                    <!--first and last name-->
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" name="first_name" type="text" pattern="^[A-Za-z]{1,30}$"
                                class="validate" required>
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" name="last_name" type="text" pattern="^[A-Za-z]{1,30}$"
                                class="validate" required>
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <!--email-->
                    <div class="row">
                        <div class="input-field col s12">
                          <input id="email" name="email" type="email" class="validate" required>
                          <label for="email">Email</label>
                        </div>
                      </div>
                    <!--password-->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" minlength="5"
                                maxlength="15" pattern="^[A-Za-z0-9]{5,15}$" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <!--register button-->
                    <div class="row">
                        <button type="submit" class="col s12 btn-large blue darken-2">
                            Register <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('login') }}">Sign in</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}