{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s6 m6 offset-m3">
            <div class="card white">
                <div class="card-image">
                    <img src="../static/images/register.jpg">
                </div>
                <div class="card-content">
                    <h6 class="crypto-prices">
                        First name: {{ userSettings.first_name }}<br>
                        Last name: {{ userSettings.last_name }}<br>
                        Display currency: {{ userSettings.display_currency.upper() }}<br>
                        <a href="{{ url_for('edit_settings') }}" class="waves-effect waves-light btn-small pink lighten-2">Edit</a><br>
                    </h6>
                </div>
            </div>
        </div>
    </div>

{% endblock %}