{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s6 m6 offset-m3">
            <div class="card white">
                <div class="card-content">
                    <div class="clearfix header">
                        Settings<img src="../static/images/crypto_coins_bw_min.png">
                    </div><hr>
                    <h6 class="crypto-prices">
                        <p class="increase-line-height">First name: {{ userSettings.first_name }}</p>
                        <p class="increase-line-height">Last name: {{ userSettings.last_name }}</p>
                        <p class="increase-line-height">Balance: {{ "{:.2f}".format(portfolioBalance) }}</p>
                        <!-- <p class="increase-line-height">Display currency: {{ userSettings.display_currency.upper() }}</p> -->
                        <a href="{{ url_for('edit_settings') }}" class="waves-effect waves-light btn-small pink lighten-2">Edit</a><br>
                    </h6>
                </div>
            </div>
        </div>
    </div>

{% endblock %}