{% extends "base.html" %}
{% block content %}


    <div class="row">
        <form class="col s12 m8 offset-m2 l6 offset-l3" method="POST" action="{{ url_for('trade', ticker = 'None') }}">
            <div class="card white">
                <div class="card-content">
                    <div class="clearfix header">
                        Trade<img src="../static/images/bitcoins.png" alt="Golden Bitcoins">
                    </div><hr>
                    <div class="crypto-large">
                        I want to buy:
                        <!-- populate select list with all cryptocurrencies in db -->
                        <div class="input-field inline">    
                            <select id="currency_bought" name="currency_bought" size="18" required>
                                {% for currency in currencies %}
                                    <!-- if coming via trade button on portfolio screen, the pre-select cryptocurrency passed through -->
                                    <option value="{{currency.currency_symbol}}" {% if currency.currency_symbol == selected_ticker %} selected {% endif %}>{{ currency.currency_symbol }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        Amount (USD):
                        <div class="input-field inline">
                            <input id="sold_amount" name="sold_amount" type="text" pattern="^[0-9.]{0,15}$" class="validate" required>
                        </div>
                        <br>
                        Purchase using:
                        <!-- populate select list by finding currencies user holds with positive balance -->
                        <div class="input-field inline">
                            <select id="currency_sold" name="currency_sold" size="18" required>
                                {% for balance in balances %}
                                    {% if balances[balance]|float > 0 %}
                                        {% if balance != '_id' and balance != 'email' %}
                                            <option>{{ balance.upper() }}</option>
                                        {% endif %}   
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <!--complete trade button-->
                        <div class="row">
                            <button type="submit" class="col s12 btn-large blue darken-2">Submit Trade</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}