{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="card white">
                <div class="card-content">
                    <div class="clearfix header">
                        Transactions<img src="../static/images/bitcoins.png">
                    </div>
                    <hr>
                    <!--iterate through transactions listed in db to populate transaction history-->
                    {% for transaction in transactions %}
                        <div class="crypto-prices">
                            {{ transaction.time_stamp }}
                            bought {{ transaction.sold_amount }} USD of {{ transaction.currency_bought.upper() }}
                            using {{ transaction.currency_sold.upper() }}
                            @ {{ transaction.bought_price }} per coin
                        </div><hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}